/* =======================<FONTS>================================ */

/* =======================<NULL>================================= */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* =======================<COMMON classes>======================= */

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* =======================<STYLES>===================================*/

body {
  background: #6e105e;
  font-family: "Montserrat", sans-serif;
}

body::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9;
}

body._lock {
  position: relative;
}

body._lock::before {
  width: 60%;
}

/* =======================<HEADER>===================================*/

.header__top-item {
  padding-right: 30px;
}

.header__top-item:last-child {
  padding-right: 0;
}

.header__top-link {
  color: #EFF3F5;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0;
}

.header__top-lang {
  max-width: 67px;
}

.header__top-lang__item {
  padding-left: 3px;
}

.header__top-lang-link {
  color: #EFF3F5;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0;
}

.slash {
  color: #EFF3F5;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0;
}

.header__lower {
  margin-top: 33px;
}

.header__lower-breadcrumbs li {
  padding: 0px 8px;
  position: relative;
}

.header__lower-breadcrumbs li::after {
  content: "/";
  position: absolute;
  right: 0;
  top: 3px;
  color: #EFF3F5;
}

.header__lower-breadcrumbs li:first-child {
  padding-left: 0;
}

.header__lower-breadcrumbs li:last-child .header__lower-breadcrumbs__link {
  color: #6e105e;
  font-size: 13.12px;
  line-height: 17.04px;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 0;
  background: #EFF3F5;
  opacity: 0.8;
  border-radius: 20px;
  padding: 2px 11px 3px;
  pointer-events: none;
}

.header__lower-breadcrumbs li:last-child::after {
  display: none;
}

.header__lower-breadcrumbs__link {
  color: #EFF3F5;
  font-size: 13.12px;
  line-height: 17.04px;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 0;
}

/* =======================<VLOGERS>===================================*/

.vlogers {
  padding: 30px 0px 62px;
}

.title {
  color: #EFF3F5;
  font-size: 50px;
  line-height: 60.96px;
  font-family: inherit;
  font-weight: 800;
  letter-spacing: 0;
  font-size: calc(20px + 30 * ((100vw - 320px) / 978));
}

.vlogers__title {
  text-align: center;
}

.vlogers__row {
  margin: 54px 0px 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vlogers__select-title {
  color: #EFF3F5;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0;
}

.vlogers__select {
  position: relative;
  max-width: 240px;
  width: 100%;
  margin-left: 40px;
}

.vlogers__select-label {
  min-width: 100%;
  position: relative;
  display: block;
}

.vlogers__select-label::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  border: solid #EFF3F5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.vlogers__select-input {
  width: 100%;
  background: transparent;
  color: #EFF3F5;
  font-size: 16px;
  line-height: 19.92px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0;
  opacity: 1;
}

.vlogers__select-input::-webkit-input-placeholder {
  color: #EFF3F5;
  font-size: 16px;
  line-height: 19.92px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0;
}

.vlogers__select-input::-moz-placeholder {
  color: #EFF3F5;
  font-size: 16px;
  line-height: 19.92px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0;
}

.vlogers__select-input:-ms-input-placeholder {
  color: #EFF3F5;
  font-size: 16px;
  line-height: 19.92px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0;
}

.vlogers__select-input::-ms-input-placeholder {
  color: #EFF3F5;
  font-size: 16px;
  line-height: 19.92px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0;
}

.vlogers__select-input::placeholder {
  color: #EFF3F5;
  font-size: 16px;
  line-height: 19.92px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0;
}

.vlogers__option-list {
  background: rgba(110, 16, 94, 0.5);
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 10px;
  height: 0;
  width: 100%;
  -webkit-transition: .10s;
  -o-transition: .10s;
  transition: .10s;
  overflow: hidden;
}

.vlogers__option {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .10s;
  -o-transition: .10s;
  transition: .10s;
  z-index: 8;
}

.vlogers__option._active {
  max-height: 100%;
  overflow: visible;
}

.vlogers__option._active .vlogers__option-list {
  height: 100%;
}

.vlogers__option-item {
  color: #EFF3F5;
  font-size: 16px;
  line-height: 18.96px;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: 0;
  padding-bottom: 5px;
  white-space: nowrap;
  padding: 3px 10px;
}

.vlogers__option-item:last-child {
  padding-bottom: 0;
}

.vlogers__option-item.disabled {
  opacity: 0.4;
}

.vlogers__option-item.disabled:hover {
  background: transparent;
  border-radius: 0;
}

.vlogers__option-item:hover {
  background: #D26600;
  border-radius: 5px;
}

.vlogers__card-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.5%;
          flex: 0 0 23.5%;
  margin-bottom: 50px;
}

.vloger_info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 12px 6px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.vlogers__card {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.vlogers__card::before {
  content: '';
  background: rgba(189, 28, 159, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.vlogers__card:hover .vloger_info {
  bottom: 100%;
}

.vlogers__card:hover::before {
  height: 0;
}

.vlogers__img {
  width: 100%;
  height: 100%;
}

.vlogers__img img {
  width: 100%;
}

.vloger__name {
  color: #EFF3F5;
  font-size: 30px;
  line-height: 36.96px;
  font-family: inherit;
  font-weight: 800;
  letter-spacing: 0;
  padding-bottom: 14px;
}

.vlogers__cards-row,
.vloger__info-social {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vloger__info-social__followers {
  color: #EFF3F5;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 10px;
}

.vloger__info-social__col {
  padding-bottom: 14px;
}

.loading__info {
  color: #EFF3F5;
  font-size: 15px;
  line-height: 18px;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  z-index: 3;
}

.loading__info::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #EFF3F5;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

.loading__info::after {
  content: '';
  background: #6E105E;
  height: 100%;
  width: 240px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.loading__info .text {
  position: relative;
  z-index: 3;
}

/* =======================<FOOTER>===================================*/

.footer {
  padding-bottom: 20px;
}

.footer__content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__logo {
  max-width: 211px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
}

.footer__logo img {
  width: 100%;
  height: 100%;
}

.footer__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 77%;
          flex: 0 0 77%;
  padding-bottom: 30px;
}

.footer__nav-link {
  color: #EFF3F5;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0;
  display: inline-block;
  margin-bottom: 30px;
}

.footer__nav-icon__list {
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__nav-icon__item {
  padding-right: 30px;
}

.footer__nav-icon__item:last-child {
  padding-right: 0;
}

/* ========================<MEDIA>=============================== */

@media (min-width: 320px) {
  .container {
    padding: 0px 5px;
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0px 10px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0px 25px;
  }

  .header__burger {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0px 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1298px;
  }
}

@media (max-width: 1300px) {
  .vlogers__card-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    padding: 0px 5px;
  }

  .vlogers__cards-row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
  }
}

@media (max-width: 1298px) {
  .vloger__name {
    font-size: calc(16px + 14 * ((100vw - 320px) / 978));
  }

  .vloger__info-social__followers {
    font-size: calc(13px + 7 * ((100vw - 320px) / 978));
  }
}

@media (max-width: 992px) {
  .vlogers__select {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .header__top-nav {
    position: absolute;
    left: -100%;
    top: 100px;
    z-index: 10;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .header__top-nav._open {
    left: 50px;
  }

  .header__top-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__top-item {
    padding-top: 15px;
  }

  .header__top-lang {
    padding-top: 15px;
  }

  .header__burger {
    display: inline-block;
    width: 24px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__burger span {
    width: 100%;
    height: 1.5px;
    background: #EFF3F5;
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .header__burger._openMenu span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translateY(10px);
        -ms-transform: rotate(-45deg) translateY(10px);
            transform: rotate(-45deg) translateY(10px);
  }

  .header__burger._openMenu span:nth-child(3) {
    -webkit-transform: rotate(45deg) translateY(-10px);
        -ms-transform: rotate(45deg) translateY(-10px);
            transform: rotate(45deg) translateY(-10px);
  }

  .header__burger._openMenu span:nth-child(2) {
    width: 0;
  }

  .vlogers__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .vlogers__select {
    margin-left: 0;
    margin-top: 15px;
  }

  .vlogers__card-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0px 10px;
  }
}